body,
html {
	padding: 0;
	margin: 0;
	background: #fafafe;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Karla', sans-serif;
	text-decoration: none;
	color: inherit;
	font-size: 16px;
	font-weight: 300;
}

button {
	background: transparent;
	border: none;
}

ul {
	list-style: none;
}
