footer {
	text-align: center;
}

header,
main {
	max-width: 800px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;
	margin: auto;
}

header nav {
	display: flex;
	align-items: center;
}

header nav i {
	margin-right: 20px;
}

main {
	margin: 50px auto 100px;
	padding: 0 20px;
}

header h1 {
	font-size: 2rem;
	color: #1e229e;
}

.article-tag {
	font-size: 0.7rem;
	font-style: italic;
}

.article-title {
	font-size: 1.3rem;
	margin: 15px 0 10px;
	text-decoration: underline;
}

.article-time {
	font-size: 0.7rem;
}

.article-text {
	font-size: 0.9rem;
	margin-top: 20px;
	line-height: 22px;
}

em {
	margin: 40px 0;
}

em span {
	font-size: 3rem;
}

.card {
	background: #ffffff;
	box-shadow: 0px 1.0566px 10.566px rgba(0, 0, 0, 0.04);
	border-radius: 15px;
	padding: 30px;
	display: block;
}

form.card {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px 50px;
	margin-top: 50px;
}

form label {
	width: 100%;
	font-size: 0.9rem;
	display: block;
}

form input {
	width: 100%;
	margin-top: 5px;
	border: none;
	background: #ffffff;
	border: 1px solid #d6d5d5;
	border-radius: 6px;
	padding: 15px;
	font-size: 1rem;
}

form button {
	width: 200px;
	background: #000;
	color: #ffffff;
	padding: 15px 0;
	border-radius: 10px;
}
